.dropdown {
  margin: 0 auto 3rem;
  width: 100%;
  font-size: 2.4rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.dropdownAbout {
  width: 80%;
}

.dropdown__top {
  height: 4.7rem;
  background-color: var(--primary-color);
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.dropdown__bottom {
  background-color: var(--color-white-2);
  color: var(--primary-color);
  padding: 2rem;
  line-height: 3.4rem;
  display: none;
}

.openTxt {
  display: block;
}

.dropdown__chevron {
  cursor: pointer;
  transform: rotate(-180deg);
}

.openChev {
  transform: rotate(0) !important;
}

@media (max-width: 768px) {
  .dropdown {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .dropdown p,
  .dropdown li {
    font-size: 1.2rem;
    line-height: 140%;
  }

  .dropdown span {
    font-size: 1.3rem;
  }

  .dropdown__top {
    height: 3rem;
  }

  .dropdown__chevron {
    height: 1.8rem;
    width: 1.8rem;
  }
}
