/* Error 404 */
.error {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error span:first-child {
  font-size: 28.8rem;
  font-weight: 700;
}

.error span:last-of-type {
  font-size: 3.6rem;
}

.error a {
  margin-top: 18rem;
  font-size: 1.8rem;
  text-decoration: underline;
}

@media (max-width: 37.5rem) {
  .error {
    margin: 8rem 0 11rem;
  }
  .error span:first-child {
    font-size: 9.6rem;
    font-weight: 700;
  }

  .error span:last-of-type {
    font-size: 1.8rem;
    text-align: center;
  }

  .error a {
    margin-top: 13rem;
    font-size: 1.4rem;
    text-decoration: underline;
  }
}
