.card {
  position: relative;
  height: 34rem;
  width: 34rem;
  border-radius: var(--border-radius-small);
  background-color: var(--primary-color);
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  transition: all 0.2s;
  cursor: pointer;
}

.card__container {
  margin-bottom: 5rem;
}

.card::after {
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: var(--border-radius-small);
}

.card:hover {
  transform: scale(1.05) translateY(-1.5rem);
}

@media (max-width: 37.5rem) {
  .card__container:first-of-type {
    margin-top: 5rem;
  }
}
