/* Footer */
.footer {
  height: 20rem;
  background-color: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo {
  margin-bottom: 2rem;
}

@media (max-width: 37.5rem) {
  .footer {
    margin: 0;
  }
}
