/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

/* Variables */
:root {
  --primary-color: #ff6060;
  --color-black: #000;
  --color-white: #fff;
  --color-white-2: #f6f6f6;
  --border-radius: 2.5rem;
  --border-radius-small: 1rem;
}

/* General Styles */
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

::selection {
  background-color: var(--primary-color);
  color: var(--color-white);
}

#root {
  max-width: 124rem;
  margin: 0 auto;
}

.heading-1 {
  font-size: 4.8rem;
  color: var(--color-white);
  z-index: 10;
}

.heading-3 {
  color: var(--color-white);
  font-weight: 400;
  font-size: 1.8rem;
  z-index: 10;
}

.main {
  margin-bottom: 5rem;
}

@media (max-width: 37.5rem) {
  .main {
    padding: 0 2rem;
    margin-bottom: 0;
  }

  .heading-1 {
    padding-left: 1.6rem;
  }
}
